fastapi
uvicorn[standard]
motor
pydantic-settings
pymupdf # For fitz
transformers
pillow # For PIL
requests
torch # Installs CPU version by default. See note about GPU below.
easyocr
httpx
certifi
python-multipart # Good practice for FastAPI file handling
python-dotenv # For pydantic-settings if using .env locally
blinker